*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 16, 22);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
a{
    text-decoration: none;
}